<!DOCTYPE html>
<html>
    <head>
        <title>Blog Django Yassine</title>
    </head>

    <body>
        <header>
            <h1><a href="/">Blog Django Yassine</a></h1>
        </div>
        </header>

        <header>
            <h1><a href="/">Santé et alimentation</a></h1>
        </header>

        
    {% for post in posts %}
        <article>
        <time>published: {{ post.published_date }}</time>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
        </article>
    {% endfor %}
        
    </body>
</html>